@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Andrew Batchelor<br/>
    3100 Randall Drive<br/>
    Marietta, GA 30066<br/>
    <abbr title="Phone">P:</abbr>
    404.217.1190
</address>

<address>
    <strong>Email:</strong> <a href="mailto:andythecoderman@gmail.com">andythecoderman@gmail.com</a><br/>
    <strong>View on Github:</strong> <a target="_blank" href="https://github.com/andythecoderman/BetterCloud_Exercise.git">https://github.com/andythecoderman/BetterCloud_Exercise.git</a>
</address>